backup
debug
release
*.dll
kys_promise.exe
kys_promise-debug.dbg
kys_promise-debug.exe
Promise_Config.exe
kys_promise_project.tvsconfig
kys_promise.otares
kys_promise.rsm
kys_promise.res
kys_promise.identcache
kys_promise.dproj.local
*.dbg
*.lps
__history
*.dcu
前传
android
arm64-android
link*.res
libkys_promise.so
*.ctps
kys-promise-android/.gradle
kys-promise-android/.idea
kys-promise-android/app/.cxx
kys-promise-android/app/build
kys-promise-android/app/jni/SDL2/
kys-promise-android/app/jni/SDL2_image
kys-promise-android/app/jni/SDL2_ttf
kys-promise-android/build
